<app-nav-bar-menu></app-nav-bar-menu>

<div class="menuContent">

    <div class="menuInformation">
        <h1>Top Sellers</h1>
        Description: contains the 5 most frequently bought items of the last 30 days
        
        <mat-grid-list cols="1" rowHeight="250px" class="menuItems" >
            <mat-grid-tile  *ngFor="let menuItem of menuItemList">
                <app-menu-item [menuItem]="menuItem"></app-menu-item>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    

    


</div>