/* Navbar bot: https://www.w3schools.com/howto/howto_css_bottom_nav.asp */

.mainContainer {
    display: grid ;
    grid-template-columns: 3fr 1fr;
    /* grid-template-rows: min-content 1fr; */
    background-color: white;
    align-content: center;
    margin:  0px 100px 0px 100px;
  }


.content{
    grid-column-start: 1;
    grid-row: 2;
    min-height: 80vh;
    margin: 1px;
}


.navBarTop{
    grid-column-start: 1;
    grid-row: 1;
    margin-bottom: 20px;
}


.shoppingCart
{
    grid-column: 2;
    grid-row: 1;
    grid-row-end: 3;
    border-style: solid;
    z-index:2;
}