<!--Click outside hiding: https://stackoverflow.com/questions/56726410/angular-6-how-can-i-hide-a-div-onclick-of-outside-of-that-div -->

<!--link for showing icons-->
<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

<div class="mainContainer" >

    <app-nav-bar class="navBarTop" (onBtnShoppingCartClickedEvent)="onBtnShoppingCartClickedEvent($event)"></app-nav-bar>

    <div class="shoppingCart" *ngIf="shoppingCartActive">
        <app-shopping-cart></app-shopping-cart>
    </div>
    

    <div class="content"> 
        <router-outlet></router-outlet>
    </div>

    <div class="shoppingCartButton">
        <button type="button" value="ShoppingCart" (click)="openBottomSheet()">
            <i class="material-icons"> shopping_cart </i><br>
            ShoppingCart
        </button>
    </div>
    
    
</div>