<!--Click outside hiding: https://stackoverflow.com/questions/56726410/angular-6-how-can-i-hide-a-div-onclick-of-outside-of-that-div -->

<!--link for showing icons-->
<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

<div class="mainContainer" >

    <app-nav-bar class="navBarTop"></app-nav-bar>

    <div class="content"> 
        <router-outlet></router-outlet>
    </div>

    <div class="callWaiterButton">
        <button type="button" value="Call Waiter" (click)="onBtnCallWaiterClicked($event)">
            <i class="material-icons"> notification_important </i><br>
            Call Waiter
        </button>
    </div>

    <div class="shoppingCartButton">
        <button type="button" value="ShoppingCart" (click)="openShoppingCart()">
            <i class="material-icons"> shopping_cart </i><br>
            ShoppingCart
        </button>
    </div>

    <div class="backToTopButton">
        <button type="button" value="Back To Top" (click)="onBtnBackToTopClicked($event)">
            <i class="material-icons"> notification_important </i><br>
            Back to Top
        </button>
    </div>
    
    
</div>