@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');

.menuItem{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 15px;

}

.menuItemInfo{
    grid-column: 1;

}

.menuItemDesc{
    grid-column: 2;
    padding: 15px;
}

.menuItemImg{
    grid-column: 3;
}

button{
   margin-top: 15px;
}

h4{
    margin-bottom: 6px;
    font-family: 'Encode Sans SC', sans-serif;
}