<div class="menuItem">
    <div class="menuItemInfo">
        <h4>{{firstLetterToUpper(menuItem.title)}}</h4>

        <div>Allergens: {{menuItem.allergens}}</div>
        <div>Price: {{menuItem.price | number: '0.2-2'}}€</div>       
        <div>Status: {{menuItem.status}}</div>

        <button type="button" (click)="onAddToShoppingCartClicked()" value="Add to ShoppingCard">
            <i class="material-icons">shopping_cart_checkout</i><br>
            Add to ShoppingCard
        </button>
    </div>
    <div class="menuItemDesc">
        {{menuItem.description}}
    </div>


    <div class="menuItemImg">
        <img [src]="imagePath" height="200px" *ngIf="imagePathName != ''">
    </div>


</div>