.menuItem{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 15px;

}

.menuItemInfo{
    grid-column: 1;

}

.menuItemDesc{
    grid-column: 2;
    padding-right: 10px;
}

.menuItemImg{
    grid-column: 3;
}

button{
   margin-top: 15px;
}