<h1>My Orders</h1>

<div *ngFor="let order of orderList">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3>Order from: {{order.orderDate.getHours()}}:{{order.orderDate.getMinutes()}}</h3>
            </mat-panel-title>
            <mat-panel-description>
                <div>Status: {{order.status}}</div>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div *ngFor="let menuItem of order.menuItems">
            <div class="orderItem">
                <h4>{{menuItem.count}}x {{menuItem.title}}</h4>
                <div>Item Price: {{menuItem.price | number: '0.2-2'}}€</div>
                <div>Total Price: {{menuItem.price * menuItem.count | number: '0.2-2'}}€</div>
                <form #form>
                    <div>Stars: <input type="number" #stars max="5" min="1" value="5"></div>
                    <div><button type="button" (click)="submit(stars.value, menuItem.itemid)">Rate</button></div>
                </form>
            </div>
        </div>
        <br>
    </mat-expansion-panel>

</div>