/* Navbar bot: https://www.w3schools.com/howto/howto_css_bottom_nav.asp */

.mainContainer {
    display: grid ;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
  }


.content{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row: 2;
    border-style: solid;
    min-height: 80vh;
}


.navBarTop{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row: 1;
    border-style: solid;
}


.shoppingCart
{
    grid-column: 2;
    grid-row: 2;
    border-style: solid;
    z-index:2;
}