.mainContainer {
    display: grid ;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 1fr 1fr;
    height: 50px;
    align-items: center;
  }


.shoppingCartButton{
    grid-column: 3;
}

.callWaiterButton{
    grid-column: 2;
}

.firstColumn{
    grid-column: 1;
}

/* ToDo @Chibi formatting the matTab */
.matTab{       
    color: #1976D2ff;   
    font-weight: bold;    
}

