<div class="mainContainer">
    <div class="firstColumn"> 
        <i class="material-icons"> home </i><a routerLink="">Home</a>
        <i class="material-icons"> menu_book </i><a routerLink="/all">Menu</a>
        <i class="material-icons"> shopping_bag </i><a routerLink="/myOrders">My Order</a>
        <i class="material-icons"> mode_edit </i><a routerLink="/reviews">reviews</a>
    </div>
   
    <div class="callWaiterButton">
        <button type="button" value="Call Waiter" (click)="onBtnCallWaiterClicked($event)">
            <i class="material-icons"> notification_important </i>
            Call Waiter
        </button>
    </div>
    
    <div class="shoppingCartButton">
        <button type="button" value="ShoppingCart" (click)="onBtnShoppingCartClicked($event)">
            <i class="material-icons"> shopping_cart </i>
            ShoppingCart
        </button>
    </div>
</div>