<h1>Reviews</h1>

<div>
    <h4>Write your review:</h4>
    <form #form>
        <div>Stars: <input type="number" #stars max="5" min="1" value="5"></div>
        <div>Enter your Description: <br>
            <textarea #desc></textarea>
        </div>
        <div><button type="button" (click)="submit(stars.value, desc.value)">Submit</button></div>
    </form>
</div>

<br><br>

<div>  
    <div *ngFor="let review of reviewList">
        <div><img *ngFor="let i of starsToArr(review.stars)" src="/assets/images/star.png"></div>
        <!-- <div>Created: {{review.createdAt}}</div> -->
        <div>{{review.description}}</div>
        <br>
    </div>
</div>
