/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(300deg, rgba(247,157,101,1) 0%, rgba(255,255,255,1) 55%, rgba(25,118,210,1) 100%);
}

button{
    box-shadow: 2px 2px 4px 1px rgba(20,20,20,0.4);
    color: #1976D2ff;
    background-color: white;
    border: white;
    border-radius: 3px;
    font-weight: bold;
}
