/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');

:root {
    --main-blue: #1976D2ff;
}

button{
    box-shadow: 2px 2px 4px 1px rgba(20,20,20,0.4);
    color: var(--main-blue);
    background-color: white;
    border: white;
    border-radius: 1px;
    font-weight: bold;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1{
    font-family: 'Encode Sans SC', sans-serif;
    color: var(--main-blue); 
}

h3{
    font-family: 'Encode Sans SC', sans-serif;
    color: var(--main-blue); 
}

h4{
    font-family: 'Encode Sans SC', sans-serif;
    color: var(--main-blue); 
}

